@font-face {
  font-family: "Monofonto";
  src: url("fonts/Monofonto-Regular.woff2") format("woff2"), url("fonts/Monofonto-Regular.woff2") format("woff");    
  font-style: normal;
  font-weight: 500;
  font-display: block;
}

*, *::after, *::before {
  line-height: 1.5;
  padding: 0px;
  margin: 0px;
}

html {
  font-family: "Monofonto", system-ui, monospace;
}

html * {
  font-family: inherit;
}

body {
  padding: 5px;
  background: url("images/flower.jpg") no-repeat;
  background-size: auto;
}

h1 {
  text-align: center;
  font-size: 3rem;
}

.gameboard {
  --max-width: 40vw; /* solve-visible ? 80vw : 40vw */

  display: flex;
  align-items: center;
  justify-content: space-evenly;

  padding: 20px;
  background-color: lightblue;
  width: max(600px, var(--max-width));
  margin: 0px auto;
  height: 80vh;

  border: 2px solid black;
  border-radius: 20px;
}

.left {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 3vh;
}

.target {
  display: flex;
  justify-content: center;
  gap: 8px;

  font-size: 5rem;
  font-family: "Jersey 10", system-ui;

  .display-box {
    background-color: black;
    border: 2px dashed green;
    border-radius: 5px;
    width: 4rem;
    height: 5rem;
    color: green;
    line-height: 100%;
    vertical-align: middle;
    text-align: center;
  }
}


.chosen {
  display: flex;
  gap: 8px;

  & > div {
    display: flex;
    justify-content: center;
    align-items: center;

    border: 2px solid blue;
    border-radius: 5px;
    background-color: white;
    width: 70px;
    height: 70px;
    font-size: 70px;

    &.hundred {
      font-size: 50px;
    }
  }
}

.chosen > div, .selection > div > div {
  line-height: 100%;
  vertical-align: middle;
  text-align: center;
}

.selection {
  display: flex;
  flex-direction: column;
  gap: 8px;

  & > div { /*large-row, small-row*/
    display: flex;
    justify-content: center;
    gap: 8px;


    .selected {
      background-color: blue;
      &:hover {
        background-color: blue;
      }
      border: 1px solid white;
    }

    & > div {
      border: 1px solid blue;
      border-radius: 5px;
      background-color: #fffbe7;
      width: 50px;
      height: 50px;
      font-size: 50px;

      &:hover {
        background-color: #f1f1e1;
      }
    }
  }
}


.buttons {
  & > * {
    padding: 4px 8px;
    font-size: 1.5rem;
    border: 2px solid black;
    border-radius: 2px;
  }

  .start {
    background-color: #00ff00;
    &:hover {background-color: #00ef00;}
    &:active {background-color: #00cf00;}
  }

  .reset-stop {
    background-color: #ff0000;
    &:hover {background-color: #ef0000;}
    &:active {background-color: #cf0000;}
  }

  .solve-button {
    background-color: #f1f1f1;
    &:hover {background-color: #e1e1e1;}
    &:active {background-color: #d1d1d1;}
  }
}




.right {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3vh;

  width: 40%;
  height: 80%;

  h2 {
    text-align: center;
  }

  display: none;
}

.solve-display {
  border: 2px solid blue;
  background-color: white;
  height: 100%;
  width: 80%;
  overflow: auto;
}

